<h2>Тестовое задание 1</h2>
<p>Необходимо реализовать веб-приложение на Asp.Net Core.</p>

<h5>Серверная часть</h5>
<p>Разработать 2 метода API по технологии REST.</p>

<h6>1 метод</h6>
<p>Получает на вход json, который содержит массив объектов, и сохраняет его в БД.</p>
<p>Описание объекта:</p>
<ul>
  <li>code – код. Тип int.</li>
  <li>value – значение. Тип string.</li>
</ul>
<p>Пример json:</p>
<pre>
  [
    &#123;&quot;1&quot;: &quot;value1&quot;&#125;,
    &#123;&quot;5&quot;: &quot;value2&quot;&#125;,
    &#123;&quot;10&quot;: &quot;value32&quot;&#125;,
    ...
  ]
</pre>
<p>Полученный массив необходимо отсортировать по полю code и сохранить в БД (в решении необходимо описать структуру таблицы).</p>
<p>В таблице должно быть 3 поля:</p>
<ul>
  <li>порядковый номер</li>
  <li>код</li>
  <li>значение</li>
</ul>
<p>Перед сохранением данных таблицу необходимо очистить.</p>

<h6>2 метод</h6>
<p>Возвращает данные клиенту из таблицы в виде json.</p>
<p>Возвращаемые данные:</p>
<ul>
  <li>порядковый номер</li>
  <li>код</li>
  <li>значение</li>
</ul>
<p>Добавить возможность фильтрации возвращаемых данных.</p>

<h5>Клиентская часть</h5>
<p>Сделать загрузку и отображение списка используя описанные выше методы. Вывод данных в таблицу с использованием пагинации приветствуется.</p>
